/*   footer
----------------------------   */

.footer#mainFooter {
	padding:0 !important;
	position: relative;
	margin-top: -306px;
	min-height: 306px;
	clear: both;
	box-shadow: 0 4px 8px -8px rgba(0,0,0,.2) inset;
	border-top:1px solid darken($background,15);
	background-color: $background;
	#topfoot.container {
		padding:0 .5em;
		#footer-content {
				h5 {
					margin-bottom: .75em;
				}
			#socialIcons {
				p {
					margin-bottom: .75em;	
					font-size: 14px;
				}//p
				a {
					display: inline-block;
					margin-left: .5em;
					max-height: 55px;
					max-width: 55px;
					font-size: 14px;
				}//a

			}//socialIcons
			#relatedLinks {
				a {
					color:$lightred;
					text-decoration: underline;
					font-size: 14px;
				}//a
			}//relatedLinks
			#moreAboutUs {

			}//moreAboutUs

			padding-top:2em;
			.subfoot {
				margin-bottom: 3em;
				p {
					color:lighten($black,7);
					font-size: 14px;
				}
				
				h5 {
					.material-icons.md-dark {
						color:$lightred;
						font-size: 22px;
						line-height: 98%;
						vertical-align: middle;
					}//material-icons

				}//h5
			}//subfoot
		}//footer-content
	}//topfoot.container
	#botfoot {
		
		box-shadow: 0 4px 8px -8px rgba(0,0,0,.2) inset;
		border-top:1px solid darken($lightred,7);
		background-color: $lightred;
		.container {
			padding:0;
			.row {
				
				.copyright {
					text-align: right;
					vertical-align: middle;
					line-height: 82px;
					margin-bottom: 0;
					color:$black;
					font-size: 14px;
					.myself {
						color:$black;
						vertical-align: text-top;
						line-height: 14px;
						font-size: 14px;
					}//myself
				span.braggSection {
					vertical-align: text-top;
					line-height: 14px;
					a.sl {
						color:$white;
						font-size: 14px;
					}//a.sl
				}//braggSection	
				}//copyright
			}//row
		}//container

	}//botfoot




}//footer

