@import "compass";
@import "compass/utilities";
@import "compass/css3";
@import "variables";
@import "base";
@import "mixins";
@import "mainlayout";
@import "navlayout";
@import "compass/css3/animation";
@import "maincontent";

/*
-----------------------------------

	*** Styles.scss ***
	
-----------------------------------      */












/* Rules for using icons as black on a light background. */
.material-icons.md-dark { 
	color: rgba(0, 0, 0, 0.85);
	font-size: 36px;
	line-height: 100%;
	&:hover {
		color:rgba(40, 130, 111, 0.92);
		
	}//hover bright	
}//google-icons


.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }


/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }



