@import "compass";
@import "compass/utilities";
@import "compass/css3";
@import "variables";
@import "base";
@import "mixins";
@import "mainlayout";
@import "navlayout";
@import "compass/css3/animation";


/*
-----------------------------------

	*** Styles.scss ***
	
-----------------------------------      */



/*  blue-brand-top-stripe 
------------------------------------     */
#brandbanner {
	background-color: lighten($darktoBlk,22); 
	height: 25px;
	width: 100%;
}//brandbanner


/* header section
--------------------------------------    */
header#header {
	padding:1em 0;
	background: lighten($lightoWht,10);
    border-bottom: 1px solid $darktoBlk;
    
	#mainrealestate {
		#logo {
			max-width: 300px;
			display: inline-block;
			vertical-align: middle;
			
		}//logo
		#brandz {
			margin:0 1em 0 5em;
			display: inline-block;
			height: 88px;
			vertical-align: middle;
			h1 {
				margin-bottom: .3em;
			}//h1
			h3 {
				margin-bottom: .2em;
				text-align: center;
			}//h3
		}//brandz
	}//mainrealestate
}//header

#mainmenu {
	
	max-height: 53px;
	background:lighten($lightoWht,7);
}






/* Rules for using icons as black on a light background. */
.material-icons.md-dark { 
	color: rgba(0, 0, 0, 0.85);
	font-size: 36px;
	line-height: 100%;
	&:hover {
		color:rgba(40, 130, 111, 0.92);
		
	}//hover bright	
}//google-icons


.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }


/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }



