@import "compass";
@import "compass/utilities";
@import "compass/css3";
@import "variables";
@import "base";
@import "mixins";
@import "mainlayout";
@import "navlayout";
@import "compass/css3/animation";
@import "maincontent";
@import "footer";

/*
-----------------------------------

	*** Styles.scss ***
	
-----------------------------------      */

@include small {

	#logo a img {
		margin: 0 auto;
	}

	.apiarea {
		h3.headline {
			font-size: 25px;
		}//h3
		p {
			font-size: 14px;
		}

	}//apiarea


}//small devices



@include tablet {


	#maintop {
		#featureBanner {
			#bannerCaption {
				h4 {
					font-size: 22px;
				}//h4
				p {
					font-size: 13px;
				}//p
			}//bannerCaption
		}//featureBanner
	}//maintop


	#mainmiddle {
		section.apiarea {
			h3.headline {
				font-size:25px;
				
			}//h3.headline
			p {
				font-size:14px;
			}//p
		}//apiarea


	}//mainmiddle
	
	
	
}//tablet









/* Rules for using icons as black on a light background. */
.material-icons.md-dark { 
	color: rgba(0, 0, 0, 0.85);
	font-size: 36px;
	line-height: 100%;
	&:hover {
		color:rgba(40, 130, 111, 0.92);
		
	}//hover bright	
}//google-icons


.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }


/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }



