/* adobe color generator
=======================  */
/*  imports & applies Eric Meyer's Reset.css
--------------------------------------------     */
@import url("https://fonts.googleapis.com/css?family=Nobile");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
/* line 5, ../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a,
body #mainWrapper #wrapper #top #skip a:active,
body #mainWrapper #wrapper #top #skip a:visited,
body #mainWrapper #wrapper #top #skip a:hover, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img, body #mainWrapper #wrapper #top #skip a:active img, body #mainWrapper #wrapper #top #skip a:visited img, body #mainWrapper #wrapper #top #skip a:hover img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* grabs google fonts
--------------------------------------------     */
/* sets primary & secondary fonts
----------------------------------------------   */
/* to extend primary font
-------------------------  */
/* line 19, ../../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Nobile", serif, arial;
  font-weight: normal;
  margin: 0;
  padding: 0;
  overflow: hidden;
  *zoom: 1;
}

/* line 28, ../../sass/_base.scss */
p, #mainmenu .navbar-default .navbar-nav > li a, #mainmenu .navbar-default .navbar-nav > li body #mainWrapper #wrapper #top #skip a:active, body #mainWrapper #wrapper #top #skip #mainmenu .navbar-default .navbar-nav > li a:active, #mainmenu .navbar-default .navbar-nav > li body #mainWrapper #wrapper #top #skip a:visited, body #mainWrapper #wrapper #top #skip #mainmenu .navbar-default .navbar-nav > li a:visited, #mainmenu .navbar-default .navbar-nav > li body #mainWrapper #wrapper #top #skip a:hover, body #mainWrapper #wrapper #top #skip #mainmenu .navbar-default .navbar-nav > li a:hover {
  font-family: "Merriweather", serif, arial;
  font-weight: normal;
  overflow: hidden;
  *zoom: 1;
}

/* line 41, ../../sass/_base.scss */
h1 {
  font-size: 36px;
  line-height: 140%;
  color: #0d0d0d;
  margin-bottom: 0.6em;
}

/* line 50, ../../sass/_base.scss */
h2 {
  font-size: 32px;
  line-height: 140%;
  color: #a62319;
  margin-bottom: 0.5em;
}

/* line 59, ../../sass/_base.scss */
h3 {
  font-size: 28px;
  line-height: 130%;
  margin-bottom: .4em;
  color: #8c251d;
}

/* line 67, ../../sass/_base.scss */
h4 {
  font-size: 24px;
  line-height: 130%;
  margin-bottom: .3em;
}

/* line 75, ../../sass/_base.scss */
h5 {
  font-size: 22px;
  line-height: 120%;
  margin-bottom: .3em;
}

/* line 82, ../../sass/_base.scss */
h6 {
  font-size: 20px;
  line-height: 120%;
  margin-bottom: .3em;
}

/* line 90, ../../sass/_base.scss */
p {
  font-size: 15px;
  line-height: 150%;
  margin-bottom: .3em;
}

/* line 99, ../../sass/_base.scss */
a, body #mainWrapper #wrapper #top #skip a:active, body #mainWrapper #wrapper #top #skip a:visited, body #mainWrapper #wrapper #top #skip a:hover {
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  font-size: 15px;
  -moz-animation: "slide-down 5s 3";
  -webkit-animation: "slide-down 5s 3";
  animation: "slide-down 5s 3";
  color: #6a7613;
}
/* line 106, ../../sass/_base.scss */
a:focus, body #mainWrapper #wrapper #top #skip a:focus:active, body #mainWrapper #wrapper #top #skip a:focus:visited, body #mainWrapper #wrapper #top #skip a:focus:hover {
  outline: 0;
}
/* line 109, ../../sass/_base.scss */
a:active, body #mainWrapper #wrapper #top #skip a:active {
  outline: 0;
}
/* line 112, ../../sass/_base.scss */
a:hover, body #mainWrapper #wrapper #top #skip a:hover {
  color: #5e6910;
  outline: 0;
}

/* Compass Mixin
   Set the specified bg-color and it calculates/outputs a 
   dark-or-light contrasted text color.
----------------------------------------------------------------     */
/* default-border-radius -> border-radius
----------------------------------------------------   */
/* single-text-shadow-defaults
--------------------------------------------------      */
/*  red
=========================================                         */
/* line 26, ../../sass/_mixins.scss */
.button-red {
  color: #7aafe7;
  background-color: #4f95df;
  border-color: #a5c9ef;
  text-shadow: 0px 0px 1px rgba(99, 99, 99, 0.7);
}
/* line 32, ../../sass/_mixins.scss */
.button-red:hover {
  color: #3988db;
  background-color: #3183da;
  border-color: #277bd4;
}
/* line 37, ../../sass/_mixins.scss */
.button-red:focus {
  border: none;
  outline: none;
  text-shadow: 0px 0px 1px rgba(99, 99, 99, 0.7);
}

/* main button
==========================================                          */
/* line 48, ../../sass/_mixins.scss */
.botone, .button-red {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  font-family: "Merriweather", serif, arial;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  -webkit-appearance: button;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  text-transform: none;
  overflow: visible;
  box-sizing: border-box;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

/* animations/keyframes
----------------------------------*/
@-webkit-keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
@-ms-keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
@-o-keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
@keyframes slide-down {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
/*  Main body layout
------------------------------------------------    */
/* line 4, ../../sass/_mainlayout.scss */
body {
  height: 100%;
  font-family: "Merriweather", serif, arial;
  background-color: #ffffff;
  color: #555932;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
}
/* line 12, ../../sass/_mainlayout.scss */
body #mainWrapper {
  min-height: 100%;
  overflow-x: hidden;
}
/* line 15, ../../sass/_mainlayout.scss */
body #mainWrapper #wrapper {
  overflow: visible;
  padding-bottom: 120px;
}
/* line 18, ../../sass/_mainlayout.scss */
body #mainWrapper #wrapper #top {
  background-color: #4f95df;
  color: #4f95df;
}
/* line 22, ../../sass/_mainlayout.scss */
body #mainWrapper #wrapper #top #skip a, body #mainWrapper #wrapper #top #skip a:active, body #mainWrapper #wrapper #top #skip a:visited, body #mainWrapper #wrapper #top #skip a:hover {
  position: absolute;
  left: 0;
  top: -300px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*  top-stripe
------------------------------------     */
/* line 3, ../../sass/_navlayout.scss */
#brandbanner {
  background-color: #8c251d;
  height: 3px;
  width: 100%;
}

/* header section
--------------------------------------    */
/* line 13, ../../sass/_navlayout.scss */
header#header {
  padding: 1em 0;
  background: #ffffff;
}
/* line 19, ../../sass/_navlayout.scss */
header#header #mainrealestate #logo {
  max-width: 300px;
  display: inline-block;
  vertical-align: middle;
}
/* line 25, ../../sass/_navlayout.scss */
header#header #mainrealestate #brandz {
  margin-left: 5em;
  display: inline-block;
  vertical-align: middle;
}
/* line 29, ../../sass/_navlayout.scss */
header#header #mainrealestate #brandz h1 {
  margin-bottom: .3em;
}
/* line 32, ../../sass/_navlayout.scss */
header#header #mainrealestate #brandz h3 {
  text-align: center;
}

/* line 40, ../../sass/_navlayout.scss */
#mainmenu {
  max-height: 72px;
  background: #d3df7c;
  border-bottom: 1px solid #c5d553;
}
/* line 44, ../../sass/_navlayout.scss */
#mainmenu .navbar {
  margin-bottom: 0;
}
/* line 47, ../../sass/_navlayout.scss */
#mainmenu .navbar-default {
  border: transparent;
  background-color: #d3df7c;
}
/* line 53, ../../sass/_navlayout.scss */
#mainmenu .navbar-default .navbar-nav > li a, #mainmenu .navbar-default .navbar-nav > li body #mainWrapper #wrapper #top #skip a:active, body #mainWrapper #wrapper #top #skip #mainmenu .navbar-default .navbar-nav > li a:active, #mainmenu .navbar-default .navbar-nav > li body #mainWrapper #wrapper #top #skip a:visited, body #mainWrapper #wrapper #top #skip #mainmenu .navbar-default .navbar-nav > li a:visited, #mainmenu .navbar-default .navbar-nav > li body #mainWrapper #wrapper #top #skip a:hover, body #mainWrapper #wrapper #top #skip #mainmenu .navbar-default .navbar-nav > li a:hover {
  color: #555932;
  letter-spacing: .15px;
  font-size: 16px;
  line-height: 150%;
}
/* line 59, ../../sass/_navlayout.scss */
#mainmenu .navbar-default .navbar-nav > li a:hover, #mainmenu .navbar-default .navbar-nav > li body #mainWrapper #wrapper #top #skip a:hover, body #mainWrapper #wrapper #top #skip #mainmenu .navbar-default .navbar-nav > li a:hover {
  color: #4e570e;
  text-decoration: underline;
}
/* line 77, ../../sass/_navlayout.scss */
#mainmenu #primary-nav .nav .navbar-nav > li a, #mainmenu #primary-nav .nav .navbar-nav > li body #mainWrapper #wrapper #top #skip a:active, body #mainWrapper #wrapper #top #skip #mainmenu #primary-nav .nav .navbar-nav > li a:active, #mainmenu #primary-nav .nav .navbar-nav > li body #mainWrapper #wrapper #top #skip a:visited, body #mainWrapper #wrapper #top #skip #mainmenu #primary-nav .nav .navbar-nav > li a:visited, #mainmenu #primary-nav .nav .navbar-nav > li body #mainWrapper #wrapper #top #skip a:hover, body #mainWrapper #wrapper #top #skip #mainmenu #primary-nav .nav .navbar-nav > li a:hover {
  color: #7E8C16;
}

/*  maincontent
-------------------------------- */
/* line 5, ../../sass/_maincontent.scss */
#mainContent .mainpad {
  margin-bottom: 2em;
}
/* line 10, ../../sass/_maincontent.scss */
#mainContent #maintop #featureBanner {
  border-bottom: 1px dotted #d3df7c;
  margin-bottom: 2em;
}
/* line 13, ../../sass/_maincontent.scss */
#mainContent #maintop #featureBanner figure#bannerCaption {
  margin: 1.25em 0;
}
/* line 19, ../../sass/_maincontent.scss */
#mainContent #maintop #featureBanner figure#bannerCaption h4 {
  margin-bottom: .5em;
  color: #4f95df;
}
/* line 30, ../../sass/_maincontent.scss */
#mainContent #mainmiddle .apiarea {
  margin: 2em 0;
}
/* line 32, ../../sass/_maincontent.scss */
#mainContent #mainmiddle .apiarea .headline {
  margin-bottom: .5em;
}
/* line 41, ../../sass/_maincontent.scss */
#mainContent #mainbottom .apiarea {
  margin-bottom: 3em;
}
/* line 43, ../../sass/_maincontent.scss */
#mainContent #mainbottom .apiarea .headline {
  margin-bottom: .5em;
}

/*   footer
----------------------------   */
/* line 4, ../../sass/_footer.scss */
.footer {
  padding: 0 !important;
  position: relative;
  margin-top: -120px;
  min-height: 120px;
  clear: both;
  box-shadow: 0 4px 8px -8px rgba(0, 0, 0, 0.2) inset;
  border-top: 1px solid white;
  background-color: white;
}
/* line 13, ../../sass/_footer.scss */
.footer #topfoot.container {
  padding: 0;
}
/* line 15, ../../sass/_footer.scss */
.footer #topfoot.container #footer-content {
  padding-top: 2em;
}
/* line 17, ../../sass/_footer.scss */
.footer #topfoot.container #footer-content .subfoot {
  margin-bottom: 1em;
}
/* line 19, ../../sass/_footer.scss */
.footer #topfoot.container #footer-content .subfoot h4 {
  margin-bottom: .3em;
}
/* line 21, ../../sass/_footer.scss */
.footer #topfoot.container #footer-content .subfoot h4 .material-icons.md-dark {
  color: black;
  font-size: 24px;
  line-height: 100%;
}
/* line 30, ../../sass/_footer.scss */
.footer #botfoot {
  padding: 0 !important;
  position: relative;
  margin-top: -120px;
  min-height: 120px;
  clear: both;
  box-shadow: 0 4px 8px -8px rgba(0, 0, 0, 0.2) inset;
  border-top: 1px solid #e9e6df;
  background-color: #b2c51f;
}
/* line 39, ../../sass/_footer.scss */
.footer #botfoot .container {
  padding: 0;
}
/* line 41, ../../sass/_footer.scss */
.footer #botfoot .container .row {
  padding-top: 2em;
}
/* line 43, ../../sass/_footer.scss */
.footer #botfoot .container .row .copyright {
  vertical-align: middle;
  line-height: 55px;
}

/*
-----------------------------------

	*** Styles.scss ***
	
-----------------------------------      */
/* Rules for using icons as black on a light background. */
/* line 32, ../../sass/styles.scss */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.85);
  font-size: 36px;
  line-height: 100%;
}
/* line 36, ../../sass/styles.scss */
.material-icons.md-dark:hover {
  color: rgba(40, 130, 111, 0.92);
}

/* line 43, ../../sass/styles.scss */
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
/* line 47, ../../sass/styles.scss */
.material-icons.md-light {
  color: white;
}

/* line 48, ../../sass/styles.scss */
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
